{% extends 'base.html.twig' %}

{% block title %}Classes{% endblock %}

{% block body %}
<h1 class="my-5 text-center">Classes</h1>

    <div class="row">
        <div class="col-md-10 offset-md-1 col-sm-12">
            <a href="{{ path('admin_group_new')}}" class="btn btn-info mb-3"group_>Add new</a>
            <table class="table table-striped">
                <thead class="thead-dark">
            <tr>
                <th>Name</th>
                <th>actions</th>
            </tr>
        </thead>
        <tbody>
        {% for group in groups %}
            <tr>
                <td>{{ group.name }}</td>
                <td>
                    <a href="{{ path('admin_group_show', {'id': group.id}) }}" class="btn btn-info">show</a>
                    <a href="{{ path('admin_group_edit', {'id': group.id}) }}" class="btn btn-info">edit</a>
                    <a href="{{ path('admin_student_group_index', {'id': group.id}) }}" class="btn btn-info">Students</a>
                    <a href="{{ path('admin_professor_group_index', {'id': group.id}) }}" class="btn btn-info">Professors</a>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="3">no records found</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

{% endblock %}







